In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
df.head()

,Location,Date,Temp_C,Cloud_MinRatio,Precipitation_MM,Snow_CM,Sakura,Maple,Ginko,Hydrangea,Plum,FujiSnow_CM,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Tokyo,01/01,6.0,3.7,1.2,0,-,-,-,-,-,125,NaN,NaN,NaN
1,Tokyo,01/02,5.9,3.7,1.2,0,-,-,-,-,-,125,NaN,NaN,NaN
2,Tokyo,01/03,5.8,3.7,1.2,0,-,-,-,-,-,125,NaN,NaN,NaN
3,Tokyo,01/04,5.8,3.8,1.2,0,-,-,-,-,-,125,NaN,NaN,NaN
4,Tokyo,01/05,5.7,3.8,1.3,0,-,-,-,-,-,125,NaN,NaN,NaN

In [3]:
df['Month'] = df['Date'].str.split('/').str[0].astype(int)
df.head()

,Location,Date,Temp_C,Cloud_MinRatio,Precipitation_MM,Snow_CM,Sakura,Maple,Ginko,Hydrangea,Plum,FujiSnow_CM,Unnamed: 12,Unnamed: 13,Unnamed: 14,Month
0,Tokyo,01/01,6.0,3.7,1.2,0,-,-,-,-,-,125,NaN,NaN,NaN,1
1,Tokyo,01/02,5.9,3.7,1.2,0,-,-,-,-,-,125,NaN,NaN,NaN,1
2,Tokyo,01/03,5.8,3.7,1.2,0,-,-,-,-,-,125,NaN,NaN,NaN,1
3,Tokyo,01/04,5.8,3.8,1.2,0,-,-,-,-,-,125,NaN,NaN,NaN,1
4,Tokyo,01/05,5.7,3.8,1.3,0,-,-,-,-,-,125,NaN,NaN,NaN,1

In [4]:
# get Temp_C data for each month for format {1: [1, 2, 3, ...], 2: [4, 5, 6, ..], ...}
def get_monthly_data(df, column='Temp_C'):
    monthly_data = {}
    for month in range(1, 13):
        monthly_data[month] = df[df['Month'] == month][column].tolist()
    return monthly_data

In [5]:
monthly_data_tempc = get_monthly_data(df,'Temp_C')
print(monthly_data_tempc)
# Cloud_MinRatio
monthly_data_cloud_min = get_monthly_data(df,'Cloud_MinRatio')
print(monthly_data_cloud_min)
# Precipitation_MM
monthly_data_precip = get_monthly_data(df,'Precipitation_MM')
print(monthly_data_precip)
# Snow_CM
monthly_data_snow = get_monthly_data(df,'Snow_CM')
print(monthly_data_snow)
# Sakura
monthly_data_sakura = get_monthly_data(df,'Sakura')
print(monthly_data_sakura)
# Maple
monthly_data_maple = get_monthly_data(df,'Maple')
print(monthly_data_maple)
# Ginko
monthly_data_ginko = get_monthly_data(df,'Ginko')
print(monthly_data_ginko)
# Hydrangea
monthly_data_hydrangea = get_monthly_data(df,'Hydrangea')
print(monthly_data_hydrangea)

{1: [6.0, 5.9, 5.8, 5.8, 5.7, 5.7, 5.6, 5.6, 5.5, 5.5, 5.5, 5.4, 5.4, 5.3, 5.3, 5.2, 5.2, 5.2, 5.2, 5.2, 5.1, 5.1, 5.2, 5.2, 5.2, 5.2, 5.2, 5.3, 5.3, 5.3, 5.4], 2: [5.4, 5.4, 5.5, 5.5, 5.5, 5.6, 5.6, 5.6, 5.7, 5.7, 5.8, 5.9, 5.9, 6.0, 6.1, 6.1, 6.2, 6.3, 6.4, 6.4, 6.5, 6.6, 6.7, 6.9, 7.0, 7.1, 7.2, 7.3], 3: [7.4, 7.5, 7.7, 7.8, 7.9, 8.0, 8.1, 8.2, 8.4, 8.5, 8.7, 8.8, 9.0, 9.1, 9.3, 9.5, 9.6, 9.7, 9.9, 10.0, 10.1, 10.2, 10.3, 10.4, 10.5, 10.6, 10.8, 11.0, 11.1, 11.3, 11.5], 4: [11.7, 11.9, 12.1, 12.3, 12.5, 12.7, 12.9, 13.1, 13.2, 13.4, 13.6, 13.8, 13.9, 14.1, 14.3, 14.5, 14.6, 14.8, 14.9, 15.1, 15.3, 15.4, 15.6, 15.8, 15.9, 16.1, 16.3, 16.5, 16.7, 16.8], 5: [17.0, 17.1, 17.3, 17.4, 17.5, 17.6, 17.7, 17.8, 17.9, 18.0, 18.1, 18.2, 18.3, 18.4, 18.5, 18.6, 18.8, 18.9, 19.1, 19.2, 19.4, 19.5, 19.6, 19.7, 19.9, 20.0, 20.1, 20.2, 20.3, 20.3, 20.4], 6: [20.5, 20.6, 20.7, 20.7, 20.8, 20.9, 20.9, 21.0, 21.1, 21.2, 21.2, 21.3, 21.5, 21.6, 21.7, 21.8, 21.9, 22.1, 22.2, 22.3, 22.4, 22.5, 22.7, 22.8, 23.0, 23.2, 23.3, 23.5, 23.7, 23.8], 7: [24.0, 24.2, 24.3, 24.4, 24.6, 24.7, 24.8, 24.9, 25.1, 25.2, 25.3, 25.4, 25.5, 25.6, 25.7, 25.7, 25.8, 25.9, 26.0, 26.1, 26.2, 26.3, 26.4, 26.5, 26.6, 26.7, 26.8, 26.9, 27.0, 27.1, 27.1], 8: [27.2, 27.2, 27.3, 27.3, 27.3, 27.3, 27.3, 27.3, 27.3, 27.3, 27.2, 27.2, 27.1, 27.1, 27.0, 26.9, 26.9, 26.8, 26.8, 26.7, 26.6, 26.6, 26.5, 26.4, 26.3, 26.2, 26.2, 26.1, 26.0, 25.9, 25.8], 9: [25.7, 25.6, 25.5, 25.4, 25.3, 25.2, 25.0, 24.9, 24.7, 24.6, 24.4, 24.2, 24.0, 23.8, 23.6, 23.3, 23.1, 22.9, 22.6, 22.4, 22.2, 21.9, 21.7, 21.5, 21.3, 21.2, 21.0, 20.9, 20.8, 20.6], 10: [20.5, 20.3, 20.2, 20.1, 19.9, 19.7, 19.6, 19.4, 19.2, 19.1, 18.9, 18.7, 18.5, 18.3, 18.1, 17.9, 17.7, 17.5, 17.3, 17.2, 17.0, 16.8, 16.6, 16.5, 16.3, 16.1, 16.0, 15.8, 15.7, 15.5, 15.3], 11: [15.2, 15.0, 14.8, 14.7, 14.5, 14.3, 14.1, 13.9, 13.8, 13.6, 13.4, 13.2, 13.0, 12.8, 12.6, 12.4, 12.2, 12.0, 11.8, 11.6, 11.4, 11.2, 11.1, 10.9, 10.8, 10.6, 10.5, 10.4, 10.2, 10.1], 12: [9.9, 9.8, 9.6, 9.4, 9.3, 9.1, 8.9, 8.8, 8.6, 8.4, 8.3, 8.1, 8.0, 7.9, 7.7, 7.6, 7.5, 7.4, 7.3, 7.2, 7.1, 7.0, 6.8, 6.7, 6.6, 6.5, 6.4, 6.3, 6.2, 6.1, 6.0]}
{1: [3.7, 3.7, 3.7, 3.8, 3.8, 3.9, 3.9, 4.0, 4.1, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.7, 4.8, 4.8, 4.8, 4.8, 4.8, 4.7, 4.7, 4.6, 4.6, 4.5, 4.5, 4.5, 4.5, 4.5], 2: [4.6, 4.6, 4.7, 4.8, 4.9, 4.9, 5.0, 5.1, 5.1, 5.2, 5.3, 5.3, 5.4, 5.4, 5.4, 5.5, 5.5, 5.5, 5.6, 5.6, 5.6, 5.7, 5.7, 5.8, 5.9, 5.9, 6.0, 6.1], 3: [6.1, 6.1, 6.1, 6.1, 6.1, 6.0, 6.0, 6.0, 5.9, 5.9, 5.9, 5.9, 5.9, 5.9, 5.9, 6.0, 6.0, 6.1, 6.2, 6.3, 6.3, 6.4, 6.4, 6.5, 6.5, 6.5, 6.5, 6.5, 6.5, 6.4, 6.4], 4: [6.4, 6.4, 6.4, 6.4, 6.4, 6.5, 6.5, 6.5, 6.6, 6.6, 6.7, 6.7, 6.8, 6.9, 6.9, 6.9, 7.0, 7.0, 7.0, 7.0, 7.0, 7.0, 6.9, 6.9, 6.8, 6.8, 6.7, 6.7, 6.7, 6.7], 5: [6.7, 6.8, 6.8, 6.9, 7.0, 7.1, 7.2, 7.3, 7.3, 7.4, 7.4, 7.5, 7.5, 7.5, 7.4, 7.4, 7.4, 7.4, 7.3, 7.3, 7.3, 7.3, 7.4, 7.4, 7.5, 7.5, 7.6, 7.7, 7.7, 7.8, 7.8], 6: [7.9, 7.9, 8.0, 8.1, 8.1, 8.2, 8.2, 8.3, 8.4, 8.4, 8.5, 8.5, 8.6, 8.6, 8.6, 8.7, 8.7, 8.7, 8.8, 8.8, 8.8, 8.8, 8.8, 8.8, 8.8, 8.8, 8.7, 8.7, 8.6, 8.6], 7: [8.5, 8.5, 8.4, 8.4, 8.3, 8.3, 8.2, 8.2, 8.2, 8.2, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.1, 8.0, 8.0, 8.0, 7.9, 7.9, 7.8, 7.7, 7.7, 7.6, 7.5, 7.5, 7.4], 8: [7.3, 7.3, 7.2, 7.2, 7.2, 7.2, 7.2, 7.3, 7.3, 7.3, 7.3, 7.4, 7.4, 7.4, 7.4, 7.4, 7.4, 7.5, 7.5, 7.5, 7.5, 7.5, 7.5, 7.5, 7.5, 7.6, 7.6, 7.6, 7.6, 7.6, 7.6], 9: [7.7, 7.7, 7.7, 7.7, 7.7, 7.7, 7.7, 7.8, 7.8, 7.8, 7.8, 7.8, 7.8, 7.8, 7.8, 7.9, 7.9, 7.9, 7.9, 7.9, 7.9, 7.9, 7.9, 7.9, 7.9, 7.9, 7.9, 7.8, 7.8, 7.8], 10: [7.8, 7.8, 7.8, 7.8, 7.8, 7.7, 7.7, 7.7, 7.6, 7.5, 7.5, 7.4, 7.4, 7.3, 7.2, 7.2, 7.1, 7.1, 7.0, 7.0, 6.9, 6.8, 6.7, 6.6, 6.6, 6.5, 6.4, 6.3, 6.2, 6.2, 6.1], 11: [6.1, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 6.0, 5.9, 5.9, 5.9, 5.9, 5.9, 5.8, 5.8, 5.8, 5.7, 5.7, 5.7, 5.6], 12: [5.6, 5.5, 5.5, 5.4, 5.4, 5.3, 5.2, 5.2, 5.1, 5.1, 5.0, 4.9, 4.8, 4.8, 4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.4, 4.3, 4.3, 4.2, 4.1, 4.0, 4.0, 3.9, 3.8, 3.8, 3.7]}
{1: [1.2, 1.2, 1.2, 1.2, 1.3, 1.3, 1.4, 1.5, 1.6, 1.8, 1.9, 2.0, 2.1, 2.1, 2.2, 2.2, 2.3, 2.3, 2.3, 2.3, 2.3, 2.3, 2.3, 2.3, 2.3, 2.3, 2.3, 2.2, 2.2, 2.1, 2.0], 2: [2.0, 1.9, 1.8, 1.7, 1.6, 1.6, 1.6, 1.6, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.2, 2.3, 2.4, 2.4, 2.4, 2.5, 2.6, 2.7, 2.8, 3.0, 3.1, 3.3, 3.4], 3: [3.6, 3.7, 3.8, 3.8, 3.9, 3.8, 3.8, 3.7, 3.6, 3.5, 3.4, 3.3, 3.3, 3.2, 3.1, 3.1, 3.1, 3.2, 3.2, 3.3, 3.3, 3.4, 3.5, 3.6, 3.7, 3.9, 4.0, 4.1, 4.3, 4.4, 4.6], 4: [4.7, 4.8, 4.9, 4.9, 5.0, 5.0, 5.0, 5.0, 4.9, 4.9, 4.8, 4.7, 4.7, 4.6, 4.6, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1, 4.0, 4.0, 3.9, 3.8, 3.8, 3.7, 3.7, 3.6, 3.6], 5: [3.6, 3.6, 3.6, 3.6, 3.6, 3.7, 3.7, 3.8, 3.9, 4.0, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0, 5.1, 5.1, 5.1, 5.0, 5.0, 4.9, 4.8, 4.6, 4.5, 4.4], 6: [4.4, 4.5, 4.5, 4.6, 4.8, 5.0, 5.3, 5.5, 5.8, 6.0, 6.2, 6.4, 6.5, 6.6, 6.6, 6.6, 6.6, 6.5, 6.4, 6.3, 6.2, 6.0, 5.9, 5.8, 5.7, 5.6, 5.5, 5.5, 5.6, 5.7], 7: [5.8, 5.9, 6.0, 6.1, 6.2, 6.3, 6.3, 6.2, 6.1, 6.1, 5.9, 5.8, 5.6, 5.4, 5.2, 5.1, 4.9, 4.7, 4.6, 4.4, 4.3, 4.2, 4.1, 4.0, 3.9, 3.8, 3.7, 3.6, 3.5, 3.4, 3.3], 8: [3.3, 3.3, 3.4, 3.4, 3.5, 3.7, 3.8, 4.0, 4.1, 4.3, 4.5, 4.6, 4.7, 4.9, 5.0, 5.1, 5.2, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6.0, 6.1, 6.1, 6.2, 6.2, 6.2, 6.3, 6.4], 9: [6.5, 6.6, 6.8, 7.0, 7.2, 7.4, 7.6, 7.7, 7.8, 7.9, 8.0, 8.0, 8.1, 8.1, 8.2, 8.3, 8.4, 8.4, 8.4, 8.4, 8.3, 8.1, 7.9, 7.8, 7.6, 7.4, 7.3, 7.3, 7.3, 7.5], 10: [7.7, 8.0, 8.3, 8.7, 9.0, 9.2, 9.3, 9.4, 9.4, 9.2, 9.0, 8.7, 8.4, 8.1, 7.9, 7.7, 7.5, 7.3, 7.2, 7.0, 6.9, 6.7, 6.6, 6.3, 6.1, 5.7, 5.4, 5.0, 4.7, 4.3, 4.0], 11: [3.7, 3.4, 3.2, 3.1, 3.0, 2.9, 2.9, 2.9, 3.0, 3.1, 3.1, 3.2, 3.2, 3.3, 3.4, 3.4, 3.5, 3.5, 3.6, 3.6, 3.6, 3.6, 3.5, 3.5, 3.4, 3.3, 3.2, 3.1, 3.0, 2.9], 12: [2.8, 2.7, 2.6, 2.5, 2.4, 2.3, 2.2, 2.1, 2.0, 2.0, 1.9, 1.8, 1.7, 1.6, 1.6, 1.5, 1.5, 1.5, 1.5, 1.5, 1.6, 1.6, 1.6, 1.6, 1.6, 1.6, 1.5, 1.5, 1.4, 1.4, 1.3]}
{1: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 2: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 3: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 4: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 5: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 6: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 7: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 8: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 9: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 10: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 11: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 12: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
{1: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 2: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 3: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'Flowering', '-', '-', '-', '-', '-', '-', 'Full Bloom'], 4: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 5: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 6: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 7: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 8: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 9: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 10: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 11: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 12: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']}
{1: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 2: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 3: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 4: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 5: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 6: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 7: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 8: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 9: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 10: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 11: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'Autumn leaves', '-', '-'], 12: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'Fallen leaves', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']}
{1: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 2: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 3: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 4: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 5: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 6: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 7: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 8: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 9: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 10: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'], 11: ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'Yellow leaves', '-', '-', '-', '-', '-', '-', '-'], 12: ['-', '-', 'Fallen leaves', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']}

KeyError: 'Hydrangea'